    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
                             {{#each bigBannerData}}
            <div  class="hero__items set-bg img-fluid d-flex justify-content-center align-items-center"  data-setbg="/uploads/{{image}} " >
                <div class="container">
                    <div class="row">

                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h4 class="fw-bold" >{{heading}}</h4>
                                
                                <p >{{description}}</p>
                                <a href="/shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                            {{/each}}
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
       
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="/uploads/{{smalllBannerData.[0].image}}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>{{smalllBannerData.[0].heading}}</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="/uploads/{{smalllBannerData.[1].image}}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>{{smalllBannerData.[1].heading}}</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="/uploads/{{smalllBannerData.[2].image}}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>{{smalllBannerData.[2].heading}}</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        {{!-- <li data-filter=".new-arrivals">New Arrivals</li> --}}
                        {{!-- <li data-filter=".hot-sales">Hot Sales</li> --}}
                    </ul>
                </div>
            </div>

            <div class="row product__filter">

             {{#each productsData}}
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/uploads/{{image.[0]}}">
                          
                        </div>
                        <div class="product__item__text">
                            <h6>{{name}}</h6>
                            <a href="/shop" class="add-cart">Shop</a>

                            <h5>{{price}} ₹</h5>
                        </div>
                    </div>
                </div>
                  {{/each}}
            </div>
      </div>   
</section>
               


